/*LOGO*/

.logo {
  color: var(--acent-txt-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
}

.logo-style {
  color: var(--title-txt-color);
}

/*nav header*/
.site-nav .link {
  color: var(--title-txt-color);

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--acent-txt-color);
}

.nav-contact .link {
  color: var(--prymari-txt-color);
}

/*caption-title*/
.caption-title {
  color: var(--white-txt-color);
  /* background: var(--darck-grey-color); */
  text-shadow: 2px 2px 20px #000000;

  font-weight: 700;
  font-size: 44px;
  line-height: 1.4;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*button*/
.button {
  background: var(--btn-bg-color);
  color: var(--white-txt-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
}

/*main section title*/
.section-title {
  color: var(--title-txt-color);

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

/*subtitle-title*/
.subtitle-title .title {
  color: var(--title-txt-color);

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.employees .title {
  font-weight: 500;
  font-size: 16px;
  /* identical to box height */
  text-align: center;
  text-transform: capitalize;
}

.profeshion {
  font-weight: 400;
  font-size: 16px;
  /* identical to box height */
  text-align: center;
}

/* footer */

.adress {
  color: var(--white-txt-color);

  text-shadow: 2px 2px 10px #000000;

  font-style: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
}

.info-contact .link {
  font-style: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
}
