/* curent page */

.site-nav .link.curent {
  color: var(--acent-txt-color);
}

/* porfolio page button galery main*/

.site-nav .galery {
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--worck-bg-color);
  color: var(--title-txt-color);
}

.site-nav .galery:hover,
.site-nav .galery:focus {
  background-color: var(--btn-bg-color);
  color: var(--white-txt-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.galery-list .title {
  /* color: var(--title-txt-color); */
  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.galery-list .txt,
.galery-list p {
  color: var(--prymari-txt-color);

  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
}
