:root {
  /*background-color*/
  --prymary-bg-color: #ffffff;
  --worck-bg-color: #e5e5e5;
  --btn-bg-color: #2196f3;
  --darck-grey-color: #2f303a;
  --team-bg-color: #f5f4fa;

  /*text-color*/
  --prymari-txt-color: #757575;
  --title-txt-color: #212121;
  --acent-txt-color: #2196f3;
  --white-txt-color: #ffffff;
}

body {
  background-color: var(--prymary-bg-color);
  color: var(--prymari-txt-color);

  font-family: Roboto, sans-serif;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;

  /* outline: 2px solid #b0c4de; */
}

/* main-sections */
.section {
}

/* spirit-title */
.spirit-title {
  margin-top: 0;
  margin-bottom: 0;
}
/* page-header */
.page-header {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #ffffff;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--darck-grey-color);
}

/* for-code */

/* .page-header {
  background: #652c9b;
}

.caption {
  background: #2c659b;
}

.section {
  background: #2c9b56;
}

.description {
 
  background: cornflowerblue;
}

.header-nav,
.container,
.list,
li {
  outline: 2px solid #9b2c88;
} */

/* for-code */
