.container-team {
  @extend %container;
  & .list {
    display: flex;
    flex-wrap: wrap;
  }
}

.container-team {
  & .title {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
  }
}

.container-team {
  & .description-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

.profeshion {
  margin-top: 0;
  // margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  // identical to box height;
  text-align: center;
}

.container-team {
  & .site-nav {
    justify-content: center;
  }
}

// .portret {
//   margin-bottom: 30px;
// }

.social-link {
  & .link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: transparent;
    border-radius: 50%;

    &:hover {
      background: $btn-bg-color;
    }
  }
}

.link-icon {
  display: block;

  width: 15px;
  height: 15px;

  fill: $prymari-txt-color;

  .social-link .link:hover & {
    fill: $white-txt-color;
  }
}

// .social-link .link:hover .link-icon {
//   fill: var(--white-txt-color);
// }
