.button {
  display: inline-flex;
  border: none;
  border-radius: 4px;

  padding: 10px 32px;

  background: $btn-bg-color;
  color: $white-txt-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}
