.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $darck-grey-color;
}
.container-footer {
  @extend %container;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.footer-info {
  & .logo {
    display: inline-flex;
    margin-bottom: 20px;
  }
}

.adress {
  color: $white-txt-color;

  font-style: normal;
  font-size: 14px;
  line-height: 2;
  /* or 171% */
}

.info-contact {
  & .link {
    font-style: normal;
    font-size: 14px;
    line-height: 2;
    color: $prymari-txt-color;
  }
}
.link-footer {
  flex-direction: column;

  & .title {
    margin-bottom: 20px;
    color: $white-txt-color;
  }
}

.social-link:not(:last-child) {
  margin-right: 10px;
}

.icon-link ::before {
  content: "";

  display: inline-block;
  width: 44px;
  height: 44px;
  background: $sochial-link-footer;

  background-repeat: no-repeat;
  background-position: center;

  border-radius: 50%;
}

.instagram-link::before {
  background-image: url(../../../img/instagram.svg);
}
.twitter-link::before {
  background-image: url(../../../img/twitter.svg);
}

.facebook-link::before {
  background-image: url(../../../img/facebook.svg);
}
.linkedin-link::before {
  background-image: url(../../../img/linkedin.svg);
}
