.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $backdrop-bg-color;

  // padding: 50px 50px;
  overflow-y: scroll;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(max-width:767px) {
    // height: 100%;
  }
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.modal {
  position: absolute;
  display: flex;
  justify-content: flex-end;

  min-width: 320px;
  min-height: 500px;
  padding: 10px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and(min-width:$mobile) {
    min-width: 450px;
    min-height: 609px;
    top: 50%;
  }
}

// close-modal
.close-modal {
  position: absolute;

  width: 30px;
  height: 30px;

  background-image: url(../img/x-mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;

  opacity: 0.7;
}

.wrap-modal {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.title-form {
  text-align: center;
  color: $title-txt-color;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  font-size: 12px;
}

// button-form
.button {
  .modal-form & {
    justify-content: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

.list-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  & textarea {
    resize: none;
    height: 120px;
  }
}

.input-form {
  .list-form & {
    margin-top: 0;
    margin: 0;
    /* padding: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }
}

.label-form {
  margin-bottom: 5px;
}

.icon-form {
  position: absolute;
  top: 30px;
  left: 15px;
  width: 18px;
  height: 18px;
  transform: translateY(-20%);

  .input-form:focus + & {
    fill: blue;
  }
}
// .input-form:focus + .icon-form {
//   fill: blue;
// }

// chceck

.form-chek {
  margin-bottom: 30px;
  & label {
    // margin-left: 10px;
  }
  & a {
    color: blue;
  }
}

.check {
  display: flex;
  align-items: center;
}
.check-label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check-icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid $darck-grey-color;
  border-radius: 4px;

  .check-label:checked + & {
    border-color: $btn-bg-color;
    background-color: $btn-bg-color;
    background-image: url(../img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
  }

  @media screen and(min-width: 480px) {
    width: 15px;
  }
}
