/*background-color*/
$prymary-bg-color: #ffffff;
$worck-bg-color: #e5e5e5;
$btn-bg-color: #2196f3;
$darck-grey-color: #2f303a;
$team-bg-color: #f5f4fa;
$caption-bg-color: rgba(196, 196, 196, 0.4);
$sochial-link-footer: rgba(255, 255, 255, 0.1);

/*text-color*/
$prymari-txt-color: #757575;
$title-txt-color: #212121;
$acent-txt-color: #2196f3;
$white-txt-color: #ffffff;

/* border-color-links-color-svg */
$link-grey-color: #afb1b8;
$border-form-footer: rgba(255, 255, 255, 0.3);

